* {
    margin: 0;
  }
  
   body{
    background:url('../images/concrete2.png');
      border-color: #dddddd;
      font-size: 20px;
      line-height: 35px;
      font-family:'Roboto', sans-serif; 
      height: 100%;  	
  }
  .container {
    background:url('../images/concrete2.png');
    min-height: 100%;
    height: auto;
    height: 100%;
    margin-top: 50px;
  }
  .navbar .navbar-nav {
    
    display: inline-block;
    float: none;
    vertical-align: top;
    background: url('../images/wood.jpeg');
    margin: auto;
    color: #000000;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
    background: url('../images/wood.jpeg');
  }
h1, h2, h3 {
    text-align: center;
}
.jumbotron {
  background:url('../images/concrete2.png');
  padding: none;
}
  li {
      text-align: left;
      background: url('../images/wood.jpeg');
      color: #000000;

  }
 .counters {
   float: left;
 }
  
  footer {
    background: #666;
    color: #fff;
    padding: 30px 0;
    clear: both;
    border-top: 8px solid #4aaaa5;
    color: #ccc;
    font-size: 12px;
    text-align: center;

}